@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Reggae One', cursive;
  background-color: #230035;
  color: #eee;
  line-height: 1.5;
}
